.parag1 p {
    font-size:larger;
    line-height: 1.6;
    padding-top: 1%;
    padding-bottom: 1%;
    color:rgb(255, 119, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-style: initial
}
.parag1 a {
    text-decoration:rgba(red, green, blue, alpha); 
    color: #FFFFFF;
    
}
