@import "css dosyaları/menu.css";
@import "css dosyaları/footer.css";
@import "css dosyaları/parag.css";
@import "css dosyaları/welcome.css";
.bg { 
    background-image: url("/media/bg.jpg");
    height:auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    }