@import "css dosyaları/navbarr.css";
@import "css dosyaları/footer.css";
@import "css dosyaları/parag.css";

body {
    background:"https://www.neredekal.com/res/blog/1453735513_kapakdoga.jpg";
    color: red;
}
.welcome{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align:center;
}
