.navbar li {

    display:inline-flex;
    padding:5px;
}




.navbar {

    text-align: center;
    margin: 4px 1px;
    opacity: 0.8;
    transition: 0.8s;
    display: inline-flexbox;
    cursor: pointer;
    
}
  
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar button{
    font-size:13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    text-decoration:none;
    text-shadow:2px 1px 0px #000000;
    background-color:#FFFFFF;
    border-radius:7px;
    border:1px solid #FF0000;
    display:inline-block;
    cursor:pointer;
    padding:12px 15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #000000;
}
.navbar button:hover {
    background-color:#FFFFFF    ;
}
.navbar button:active {
    position:relative;
    top:1px;
    
}
  
